:root{
    --vermelho:#E50914;
    --preta:#141414;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/*elementos base*/
body{
   background: var(--preta);
   font-family: 'Arial', Times, serif;
   color:white;
}


header .container{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
}

header .logo{
    margin-left: 5px;
    color: var(--vermelho);
    font-family: 'Arial Black', Times;
    font-size:40px;
}

header nav a{
    text-decoration:none;
    color:#AAA;
    margin-right: 10px;
}


header nav a:hover{
    color:#fff;
}

/*filme principal*/
.filme-principal{
    font-size:16px;
    background: 
    linear-gradient(rgba(0,0,0,.50),rgba(0,0,0,.50)100%),
      url('https://scontent.fmoc4-1.fna.fbcdn.net/v/t31.18172-8/s960x960/12967441_1160085190689097_3113865177282961749_o.jpg?_nc_cat=102&ccb=1-5&_nc_sid=e3f864&_nc_eui2=AeGmNoC2_wiTuAGYaR1Ldn8fYGJn1WGoifZgYmfVYaiJ9pxK-AxAfRBAxfp7L3c3U_htAZuHebtXAUtkDszvOdAn&_nc_ohc=Zr8vFF3Ksv4AX_H0cTY&_nc_ht=scontent.fmoc4-1.fna&oh=1c180b686d40e0d8961468a6b084bdea&oe=61C9D96C');

    height:400px;
    background-size:cover;
 

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;
}


.filme-principal .titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', Arial, sans-serif;
}

.botao{
    background-color: rgba(0,0,0,.50);
    border:none;
    color: white;

    padding:15px 30px;
    margin-right: 15px;
    font-size: 12px;

    cursor: pointer;
    transition: .3s ease all;
}

.botao:hover{
    background-color:white;
    color:black;
}

.botao i{
    margin-right: 8px;
}


.container{
    margin-left: 20px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 540px;
    width: 440px;
    display: block;
    cursor: pointer;
}


.carrosel-filmes{
    margin-top:5px;
}



















